website/community/characterpictures
website/community/forums
website/community/wiki
website/mantis/
website/media/
website/piwik/
website/ssl/*_backup_of_illarion.tar
website/ssl/general
website/ssl/mediawiki
website/ssl/piwik
website/ssl/shared
website/php_errors.log
cache/*
website/sync.ffs_db
.idea/*
*.iml