#
# phpBB Imageset Configuration File
#
# @package phpBB3
# @copyright (c) 2006 phpBB Group
# @license http://opensource.org/licenses/gpl-license.php GNU Public License
#
#
# At the left is the name, please do not change this
# At the right the value is entered
# For on/off options the valid values are on, off, 1, 0, true and false
#
# Values get trimmed, if you want to add a space in front or at the end of
# the value, then enclose the value with single or double quotes.
# Single and double quotes do not need to be escaped.
#
#

# General Information about this style
name = illarion
copyright = &copy; Illarion e.V, 2009
version = 3.0.4

# Images
img_site_logo = site_logo.gif*52*139
img_poll_left =
img_poll_center =
img_poll_right =
img_icon_friend =
img_icon_foe =

img_forum_link = read.png*40*37
img_forum_read = read.png*40*37
img_forum_read_locked = read_locked.png*40*37
img_forum_read_subforum = read_subforum.png*40*37
img_forum_unread = unread.png*40*37
img_forum_unread_locked = unread_locked.png*40*37
img_forum_unread_subforum = unread_subforum.png*40*37

img_topic_moved = read_moved.png*40*37

img_topic_read = read.png*40*37
img_topic_read_mine = read.png*40*37
img_topic_read_hot = read_hot.png*40*37
img_topic_read_hot_mine = read_hot.png*40*37
img_topic_read_locked = read_locked.png*40*37
img_topic_read_locked_mine = read_locked.png*40*37

img_topic_unread = unread.png*40*37
img_topic_unread_mine = unread.png*40*37
img_topic_unread_hot = unread_hot.png*40*37
img_topic_unread_hot_mine = unread_hot.png*40*37
img_topic_unread_locked = unread_locked.png*40*37
img_topic_unread_locked_mine = unread_locked.png*40*37

img_sticky_read = read_important.png*40*37
img_sticky_read_mine = read_important.png*40*37
img_sticky_read_locked = read_important_locked.png*40*37
img_sticky_read_locked_mine = read_important_locked.png*40*37
img_sticky_unread = unread_important.png*40*37
img_sticky_unread_mine = unread_important.png*40*37
img_sticky_unread_locked = unread_important_locked.png*40*37
img_sticky_unread_locked_mine = unread_important_locked.png*40*37

img_announce_read = read_announced.png*40*37
img_announce_read_mine = read_announced.png*40*37
img_announce_read_locked = read_announced_locked.png*40*37
img_announce_read_locked_mine = read_announced_locked.png*40*37
img_announce_unread = unread_announced.png*40*37
img_announce_unread_mine = unread_announced.png*40*37
img_announce_unread_locked = unread_announced_locked.png*40*37
img_announce_unread_locked_mine = unread_announced_locked.png*40*37

img_global_read = read_announced.png*40*37
img_global_read_mine = read_announced.png*40*37
img_global_read_locked = announce_read_locked.gif*27*27
img_global_read_locked_mine = announce_read_locked_mine.gif*27*27
img_global_unread = unread_announced.png*40*37
img_global_unread_mine = unread_announced.png*40*37
img_global_unread_locked = announce_unread_locked.gif*27*27
img_global_unread_locked_mine = announce_unread_locked_mine.gif*27*27

img_subforum_read = subforum_read.gif*9*11
img_subforum_unread = subforum_unread.gif*9*11

img_pm_read = topic_read.gif*27*27
img_pm_unread = topic_unread.gif*27*27

img_icon_back_top = icon_back_top.gif*11*11

img_icon_contact_aim = icon_contact_aim.gif*20*20
img_icon_contact_email = icon_contact_email.gif*20*20
img_icon_contact_icq = icon_contact_icq.gif*20*20
img_icon_contact_jabber = icon_contact_jabber.gif*20*20
img_icon_contact_msnm = icon_contact_msnm.gif*20*20

img_icon_contact_www = icon_contact_www.gif*20*20
img_icon_contact_yahoo = icon_contact_yahoo.gif*20*20

img_icon_post_delete = icon_post_delete.gif*20*20

img_icon_post_info = icon_post_info.gif*20*20

img_icon_post_report = icon_post_report.gif*20*20
img_icon_post_target = icon_post_target.gif*9*11
img_icon_post_target_unread = icon_post_target_unread.gif*9*11

img_icon_topic_attach = icon_topic_attach.gif*10*7
img_icon_topic_latest = icon_topic_latest.gif*9*11
img_icon_topic_newest = icon_topic_newest.gif*9*11
img_icon_topic_reported = icon_topic_reported.gif*14*16
img_icon_topic_unapproved = icon_topic_unapproved.gif*14*16

img_icon_user_profile =

img_icon_user_warn = icon_user_warn.gif*20*20
