div.spacer {
	height: 12px;
}
div.menu {
	border: 1px solid #D4B96E;
	background: #29150C url(pics/uebbg.jpg) repeat scroll 0 0;
}
ul.menu_top, ul.menu_top ul {
	padding:0;
	margin:0;
	list-style-type:none;
	cursor: default;
}
ul.menu_top ul {
	position: absolute;
}
ul.menu_top {
	margin: -1px;
}
ul.menu_top a {
	cursor: pointer;
	min-width:128px;
	display:block;
}
ul.menu_top a.none {
	cursor: default;
}
ul.menu_top ul {
	background: #29150C url(pics/uebbg.jpg) repeat scroll 0 0;
	border: 1px solid #D4B96E;
	border-left-width: 8px;
}
ul.menu_top li {
	background: #29150C url(pics/uebbg.jpg) repeat scroll 0 0;
	min-width:128px;
}
ul.menu_top > li {
	float:left;
	border: 1px solid #D4B96E;
	text-align: center;
}
ul.menu_top > li > a {
	line-height:22px;
}

ul.menu_top li li {
	border-bottom: 1px dashed #D4B96E;
	text-align: left;
}
ul.menu_top li li a {
	padding: 3px 5px;
}
ul.menu_top li.last {
	border-bottom: 0px none;
}

ul.menu_top li a, ul.menu_top li {
	font-weight: bold;
	color: #D4B96E;
}

ul.menu_top li ul {
	display:none;
	z-index: 1;
}
ul.menu_top li:hover ul {
	display:block;
}
ul.menu_top li:hover > a, ul.menu_top li:hover a:hover, ul.menu_top li.selected > a {
	background-color: #6F613A;
	color: #DBD9CC;
	text-decoration: none;
}
ul.menu_top li.end {
	float: none;
	height: 0px;
	clear: both;
	border: 0 solid transparent;
}