table.charlist,
table.quests {
	width: 100%;
}

table.charlist tr td {
	width: 50%;
	vertical-align: top;
}

table.charlist ul li .hidden {
	font-style: italic;
}

table.charlist ul li a {
	text-decoration: none;
}

table.charlist ul li a:hover {
	text-decoration: underline;
}

table.charlist ul li a.rating0 {
	color: #000;
}

table.charlist ul li a.rating1 {
	color: #040701;
}

table.charlist ul li a.rating2 {
	color: #090E03;
}

table.charlist ul li a.rating3 {
	color: #0E1504;
}

table.charlist ul li a.rating4 {
	color: #121C06;
}

table.charlist ul li a.rating5 {
	color: #172307;
}

table.charlist ul li a.rating6 {
	color: #1C2A09;
}

table.charlist ul li a.rating7 {
	color: #20310A;
}

table.charlist ul li a.rating8 {
	color: #25380C;
}

table.charlist ul li a.rating9 {
	color: #2A0F0E;
}

table.charlist ul li a.rating10 {
	color: #FFED96;
}

table.charlist ul li span.newbie {
	font-size: 10pt;
}

table.charlist ul li span.gm {
	font-size: 10pt;
	color: #772D00;
}

table.quests td.title a {
	font-weight: bold;
	text-decoration: none;
}

table.quests td.title a:hover {
	text-decoration: underline;
}

table.quests td.type {
	width: 140px;
}

table.quests td.status0,
table.quests td.status1,
table.quests td.status2,
table.quests td.status3 {
	width: 180px;
	text-align: right;
}

table.quests td.status3 {
	color: #222;
	text-style: italic;
}

table.quests td.status2 {
	color: #043600;
}

table.quests td.status1 {
	color: #362300;
}

table.quests td.status0 {
	color: #000;
}