
<!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
			</ul>

            </div>
            <!-- PHP -->Page::insert_go_to_top_link();<!-- ENDPHP -->
		</div>
	<!-- ENDIF -->

	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
		<div class="forabg">
			<h2><!-- IF forumrow.S_IS_CAT --><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF --></h2>
			<ul class="topiclist forums">
	<!-- ENDIF -->

	<!-- IF not forumrow.S_IS_CAT -->
		<li class="row">
			<dl title="{forumrow.FORUM_FOLDER_IMG_ALT}" class="icon" style="background-image: url({forumrow.FORUM_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
				<dt>
					<!-- IF forumrow.FORUM_IMAGE --><span class="forum-image">{forumrow.FORUM_IMAGE}</span><!-- ENDIF -->
				    <a href="{forumrow.U_VIEWFORUM}" class="forumtitle">{forumrow.FORUM_NAME}</a>
				    <!-- IF forumrow.CLICKS -->
				    <span class="redirect">{L_REDIRECTS}: {forumrow.CLICKS}</span>
			        <!-- ELSEIF not forumrow.S_IS_LINK -->
                    <span class="lastpost">
						<!-- IF forumrow.LAST_POST_TIME --><dfn>{L_LAST_POST}</dfn> {L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL}
						<!-- IF not S_IS_BOT --><a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a><!-- ENDIF --><!-- ELSE -->{L_NO_POSTS}<!-- ENDIF -->
					</span>
					<!-- ENDIF -->
					<a class="clr" style="display:block;"></a>
				</dt>
				<dd class="description">
					{forumrow.FORUM_DESC}
					<!-- IF forumrow.MODERATORS -->
						<br /><b>{forumrow.L_MODERATOR_STR}: </b>{forumrow.MODERATORS}
					<!-- ENDIF -->
					<!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS --><br /><strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}<!-- ENDIF -->
				</dd>
				<dd class="clr" />
			</dl>
		</li>
	<!-- ENDIF -->

	<!-- IF forumrow.S_LAST_ROW -->
			</ul>

			</div>
			<!-- PHP -->Page::insert_go_to_top_link();<!-- ENDPHP -->
		</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<div class="panel">
		<div class="inner">
		    <b>{L_NO_FORUMS}</b>
		</div>
	</div>
<!-- END forumrow -->