<!-- INCLUDEPHP styles/illarion/template/overall_header.php -->


<h1>{PAGE_TITLE}</h1>

<!-- IF S_DISPLAY_SEARCH -->
<ul class="searchlinklist" style="background-image:url(<!-- PHP -->echo IllarionData::getItemPicture( 336 );<!-- ENDPHP -->);">
	<li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li>
	<!-- IF S_USER_LOGGED_IN --><li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li><!-- ENDIF -->
	<li><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
</ul>
<!-- ENDIF -->
<p class="unmark_forms"><!-- IF not S_IS_BOT and U_MARK_FORUMS --><a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a><!-- ENDIF --></p>

<!-- INCLUDE forumlist_body.html -->

<!-- IF false and not S_USER_LOGGED_IN and not S_IS_BOT -->
	<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
	<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
		<fieldset class="quick-login">
			<label for="username">{L_USERNAME}:</label>&nbsp;<input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" />
			<label for="password">{L_PASSWORD}:</label>&nbsp;<input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" />
			<!-- IF S_AUTOLOGIN_ENABLED -->
				| <label for="autologin">{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" /></label>
			<!-- ENDIF -->
			<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
		</fieldset>
	</form>
	<!-- PHP -->Page::insert_go_to_top_link();<!-- ENDPHP -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<!-- IF U_VIEWONLINE --><h2><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h2><!-- ELSE --><h2>{L_WHO_IS_ONLINE}</h2><!-- ENDIF -->
	<p>{TOTAL_USERS_ONLINE}<br /><span class="online_explain">({L_ONLINE_EXPLAIN})</span><br />{RECORD_USERS}</p>
	<p>{LOGGED_IN_USER_LIST}<!-- IF LEGEND --><br /><em class="user_legend">{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></p>
	<!-- PHP -->Page::insert_go_to_top_link();<!-- ENDPHP -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
	<h2>{L_BIRTHDAYS}</h2>
	<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
	<!-- PHP -->Page::insert_go_to_top_link();<!-- ENDPHP -->
<!-- ENDIF -->

<!-- IF NEWEST_USER -->
	<h2>{L_STATISTICS}</h2>
	<ul class="statistics">
	    <li class="stat_left">{TOTAL_POSTS}</li>
	    <li class="stat_right">{TOTAL_USERS}</li>
	    <li class="stat_left">{TOTAL_TOPICS}</li>
	    <li class="stat_right">{NEWEST_USER}</li>
	    <li><a class="clr" style="display:block;"></a></li>
	</ul>
	<!-- PHP -->Page::insert_go_to_top_link();<!-- ENDPHP -->
<!-- ENDIF -->

    <div class="copyright">Powered by <a href="http://www.phpbb.com/">phpBB</a> &copy; 2000, 2002, 2005, 2007 phpBB Group
        <!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
        <!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
        <!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
    </div>

