ul.topiclist {
	list-style: none none;
	padding: 0;
}

ul.topiclist li.header dl dt {
	float: left;
	padding: 0 5px;
}

ul.topiclist li.row dl dd.lastpost span dfn,
ul.topiclist li.row dl dt span.lastpost dfn {
	font-style: italic;
}

ul.topiclist li.row dl dd.lastpost span a,
ul.topiclist li.row dl dt span.lastpost a {
	font-weight: bold;
}

ul.topiclist li.row  {
	margin-bottom: 15px;
}

ul.topiclist li.row dl.icon {
	padding-left: 40px;
	padding-top: 5px;
	background-position: left top;
}

ul.topiclist li.row dl dd.description,
ul.topiclist li.row dl dd.description * {
	font-size: 10pt;
	margin: 0;
}

ul.topiclist li.row dl dt {
    font: normal normal bold 13pt/18pt Constantia,Georgia,"Book Antiqua","DejaVu Serif",serif;
	border-bottom:1px solid #000;
	margin: 0 0 7px;
}

ul.topiclist li.row dl dt * {
    font: normal normal bold 13pt/18pt Constantia,Georgia,"Book Antiqua","DejaVu Serif",serif;
}

ul.topiclist li.row dl dt a.forumtitle {
    float: left;
    text-decoration: none;
}

ul.topiclist li.row dl dt span.topictitle a {
    text-decoration: none;
}

ul.topiclist li.row dl dt span.topictitle a:hover {
    text-decoration: underline;
}

ul.topiclist li.row dl dd {
    margin: 0;
}

ul.topiclist li.row dl dd.infos,
ul.topiclist li.row dl dd.infos * {
    font-size: 10pt;
}

ul.topiclist li.row dl dt a.forumtitle:hover {
    text-decoration: underline;
}

ul.topiclist li.row dl dd.infos,
ul.topiclist li.row dl dd.pagination {
    float: left;
    clear: both;
}

ul.topiclist li.row dl dd.lastpost,
ul.topiclist li.row dl dd.lastpost_time,
ul.topiclist li.row dl dt span.lastpost,
ul.topiclist li.row dl dt span.lastpost_time {
    float: right;
}

ul.topiclist li.row dl dd.lastpost,
ul.topiclist li.row dl dd.lastpost *,
ul.topiclist li.row dl dt span.lastpost,
ul.topiclist li.row dl dt span.lastpost * {
    font-size: 10pt;
    font-weight: normal;
    text-align: right;
}

ul.topiclist li.row dl dd.lastpost span.lastpost_time {
    padding-right: 11px;
}

ul.topiclist li.row dl dd.lastpost a {
    font-weight: bold;
}

ul.topiclist li.row dl dd.clr {
	float: none;
}

.rightside {
    float: right;
}

.leftside {
    float: left;
}

p.mcp_link {
    float: right;
    margin: 0;
}

ul.searchlinklist {
    list-style: none none;
    padding-left: 33px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-position: center left;
    float: right;
    margin-bottom: -13pt;
    margin-top: 0;
}

p.unmark_forms {
    clear: both;
}

p.unmark_forms a {
    font-size: 10pt;
}

ul.searchlinklist li a {
    font-size: 10pt;
}

ul.statistics {
    list-style: none;
    padding: 0;
}

ul.statistics li.stat_left {
    float: left;
    margin-right: 30px;
}

ul.statistics li.stat_right {
    float: right;
    margin-left: 30px;
}

em.user_legend,
em.user_legend * {
    font-size: 10pt;
}

span.online_explain {
    font-size: 10pt;
}