dl.gmtool dt {
	float: left;
	font-weight: bold;
	margin-bottom: 5px;
	width: 200px;
}

dl.gmtool dd {
	margin-bottom: 5px;
	margin-left: 150px;
}

dl.gmtool dd select, dl.gmtool dd input {
	width: 100%;
}

dl.gmtool dd input.checkbox {
	width: auto;
}

dl.gmtool_notes dt {
	font-weight: bold;
}

dl.gmtool_notes dd {
	margin: 0;
	padding-left: 50px;
	border-bottom: 1px dashed #000;
}
